@model VsystemBiblioteca.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloLivro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloLivro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorLivro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorLivro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEditora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEditora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPaginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdPaginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
